<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{fragments/layout}">
 <th:block layout:fragment="content">
  <div class="container p-4">
    <h2 class="mb-4">정보 입력 폼</h2>
    <form th:action="@{/board/write}" method="post" class="border p-4 rounded bg-white shadow-sm">

      <div class="mb-3">
        <label for="title" class="form-label">제목</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="타이틀을 입력하세요">
      </div>
      
      <div class="mb-3">
        <label for="author" class="form-label">작성자</label>
        <input type="text" class="form-control" id="author" name="author" placeholder="작성자를 입력하세요">
      </div>

      <div class="mb-3">
        <label for="content" class="form-label">내용</label>
        <textarea class="form-control" id="content" name="content" rows="4" placeholder="내용을 입력하세요"></textarea>
      </div>

      <div class="mb-3">
        <label for="attechment" class="form-label">붙임</label>
        <input type="text" class="form-control" id="attachment" name="attachment">
      </div>

      <button type="submit" class="btn btn-primary">제출</button>
      <a th:href="@{/board/list}" class="btn btn-outline-primary"> 돌아가기</a>
    </form>
  </div>
</th:block>
