<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
          th:fragment="header">
  <header>
    <div class="container-fluid d-flex justify-content-between bg-black text-white py-3 px-5">
      <div class="align-middle">
        <a class="navbar-brand fs-3" th:href="@{/}">🍀로고</a>
      </div>
      <div sec:authorize="isAnonymous()">
        <a th:href="@{/login/login}" class="btn btn-black" style="border-color: white; color: white;">로그인</a>
        <a th:href="@{/register/register}" class="btn btn-light">회원가입</a>
      </div>
      <div sec:authorize="!isAnonymous()">
        <form th:action="@{/logout}" method="post">
          <input type="submit" class="btn btn-light" value="로그아웃">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
      </div>
    </div>
  </header>
</th:block>
